html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {

  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Cinzel', serif;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}
h1 {
  font-size: 55px;
  color: black;
}
h2 {
  font-size: 40px;
  margin-top: 0;
  color: black;
}
h3 {
  color: black;
  margin: 0;

}
.bio{
  color: black;
}
a {
  color: black;
}
a:hover {
  text-decoration: underline;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}
.col-narrow {
  width: 30%;
  float: left;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
}
.uppercase {
  text-transform: uppercase;
}


/* Header and Footer
-------------------------*/
header, footer {
  background: #4386CD;
  color: white;
}
/* header */
header {
  background: linear-gradient(#4386CD, #dbccb6),
  url() no-repeat;

  background-size: 60%;
  background-position: right;

  padding-top: 50px;
  position: relative;
}

}
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}



/* Navigation-------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* footer */
footer {
  text-align: center;
  background: linear-gradient(#4386CD, #dbccb6);
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

[href*="https://www.linkedin.com/in/dommo-12/"]{
  color: white;

/* Things I enjoy
-------------------------*/
.enjoy {
  background: #f2f2f1;
}

#story, p{
  font-size: 24px;
  color: green;
}

.topics {
  font-size: 24px;
}

p + h3 {
  margin-top: 30px;
}

/* Media Queries
-------------------------*/
@media (min-width: 901px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}

@media (max-width: 890px){
  header {
  text-align: center;
  }
  .profile-img {
    width: 200px;
  }

}
