 .App {
     display: flex;
     justify-content: center;
 }
#title {
    background: orange;
    text-align: center;
    margin: 0%;
}

#main {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}


.col-1 {
    flex: 1;
}

.block {
    background-color: rgb(177, 177, 177) ;
    padding: 1rem;
    margin: 0.5rem;
}